image: registry.gitlab.com/konn/computational-algebra/build-pre:0.6.0.0-p1

variables:
  GIT_STRATEGY: fetch

stages:
- build
- test
- deploy

.cached_dirs: &cached-dirs
  paths:
  - '.stack-work/'
  - '.stack-no-coverage/'
  - '.stack-root/'
  - '*/.stack-work'
  - '*/.stack-no-coverage'
  - '.apt/'
  - '.hspec-failures'

.header-ghc-86: &header-ghc-86
  image: registry.gitlab.com/konn/computational-algebra/build/ghc-8.6:0.6.0.0-p3
  variables:
    STACK_YAML: "stack-806.yaml"
    GHC: 806
  cache: 
    key: "${CI_COMMIT_REF_SLUG}-ghc-8.6"
    <<: *cached-dirs

.header-ghc-88: &header-ghc-88
  image: registry.gitlab.com/konn/computational-algebra/build/ghc-8.8:0.6.0.0-p4
  variables:
    STACK_YAML: "stack-808.yaml"
    GHC: 808
  cache: 
    key: "${CI_COMMIT_REF_SLUG}-ghc-8.8"
    <<: *cached-dirs

.header-ghc-810: &header-ghc-810
  image: registry.gitlab.com/konn/computational-algebra/build/ghc-8.10:0.6.0.0
  variables:
    STACK_YAML: "stack-810.yaml"
    GHC: 810
  cache: 
    key: "${CI_COMMIT_REF_SLUG}-ghc-8.8"
    <<: *cached-dirs

before_script:
- echo $CI_PROJECT_DIR
- export PATH="$HOME/.local/bin:$PATH"
- export LD_LIBRARY_PATH="$(dirname $(stack path --global-pkg-db))/rts:$LD_LIBRARY_PATH"

.build-script: &build-script
  stage:  build
  script: 
  - stack --version
  - echo "$STACK_YAML"
  - stack setup
  - stack build --no-terminal --test --no-run-tests --coverage
  - stack build --no-terminal --work-dir=.stack-no-coverage --flag halg-core-test:opt-test --flag halg-galois-fields:opt-test halg-core-test:exe:halg-core-opt-test halg-galois-fields:text:halg-gf-opt-test

.test-script: &test-script
  stage:  test
  script:
  - stack setup
  - stack --no-terminal test --no-rerun-tests --coverage
  - stack exec --work-dir=.stack-no-coverage -- halg-core-opt-test
  - stack exec --work-dir=.stack-no-coverage -- halg-gf-opt-test

build:ghc-8.6:
  <<:    *header-ghc-86
  <<:    *build-script

build:ghc-8.8:
  <<:    *header-ghc-88
  <<:    *build-script

build:ghc-8.10:
  <<:    *header-ghc-810
  <<:    *build-script

test:ghc-8.6:
  dependencies:
  - build:ghc-8.6
  <<:    *header-ghc-86
  <<:    *test-script

test:ghc-8.8:
  dependencies:
  - build:ghc-8.8
  <<:    *header-ghc-88
  <<:    *test-script

test:ghc-8.10:
  dependencies:
  - build:ghc-8.10
  <<:    *header-ghc-810
  <<:    *test-script

deploy_documents:
  only:
  - master@konn/computational-algebra
  image: registry.gitlab.com/konn/computational-algebra/build/ghc-8.8:0.6.0.0-p4
  stage: deploy
  allow_failure: true
  dependencies:
  - test:ghc-8.8
  cache: 
    key: "${CI_COMMIT_REF_SLUG}-ghc-8.8"
    policy: pull
    <<: *cached-dirs
  script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s) # Run ssh-agent inside build env
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - echo "$SSH_SECRET_KEY" | ssh-add - > /dev/null
  - stack build --haddock --fast --no-haddock-deps
  - git remote add github git@github.com:konn/computational-algebra.git
  - git worktree add gh-pages-devel github/gh-pages-devel
  - ln -s $(stack path --local-doc-root) ./gh-pages-devel/docs
  - cd gh-pages-devel
  - stack build --fast && stack exec -- site build
  - stack exec -- site deploy
